TPO2-Rudin/TPOCOM/TpoWSSB2_Server/resources/WSSB2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="WSSB2" targetNamespace="http://sb.fin-sif.com/services" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://sb.fin-sif.com/services" xmlns:tnt="http://sb.fin-sif.com/types" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <types>
    <schema elementFormDefault="qualified" targetNamespace="http://sb.fin-sif.com/services" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://sb.fin-sif.com/types" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
			<import namespace="http://sb.fin-sif.com/types" schemaLocation="fin_sif_sb_types2.xsd"/>
			<import namespace="http://sb.fin-sif.com/types" schemaLocation="fin_sif_sb_types.xsd"/>
			<!--			<import namespace="http://commons.fin-sif.com/types"-->
			<!--					schemaLocation="../messages/alarm.xsd"/>-->
		</schema>
  </types>
  <message name="ADMIN_setHDBsubsR">
    <part name="parameters" element="tnt:SBResponse">
    </part>
  </message>
  <message name="e2eonMessageAndResponse_Response">
    <part name="parameters" element="tnt:onMessageResponse">
    </part>
  </message>
  <message name="WSSB2_keepaliveR">
    <part name="parameters" element="tnt:SBResponse">
    </part>
  </message>
  <message name="WSSB2_healthstatusR">
    <part name="parameters" element="tnt:SBHealthStatusResp">
    </part>
  </message>
  <message name="e2eonMessageAndResponse_Request">
    <part name="parameters" element="tnt:e2eonMessageAndResponse">
    </part>
  </message>
  <message name="WSSB2_unregisterR">
    <part name="parameters" element="tnt:SBResponse">
    </part>
  </message>
  <message name="WSSB2_systemslist">
    <part name="parameters" element="tnt:SBSystemsList">
    </part>
  </message>
  <message name="onMessageAndResponse_Response">
    <part name="parameters" element="tnt:onMessageResponse">
    </part>
  </message>
  <message name="WSSB2_registerandsubscribeR">
    <part name="parameters" element="tnt:SBResponse">
    </part>
  </message>
  <message name="ADMIN_setHDBsubs">
    <part name="parameters" element="tnt:ADSetHDBSubscriptions">
    </part>
  </message>
  <message name="WSSB2_unregister">
    <part name="parameters" element="tnt:SBUnRegister">
    </part>
  </message>
  <message name="WSSB2_keepalive">
    <part name="parameters" element="tnt:SBKeepAlive">
    </part>
  </message>
  <message name="onMessageAndResponse_Request">
    <part name="parameters" element="tnt:onMessageAndResponse">
    </part>
  </message>
  <message name="WSSB2_registerandsubscribe">
    <part name="parameters" element="tnt:SBRegisterAndSubscribe">
    </part>
  </message>
  <message name="WSSB2_healthstatus">
    <part name="parameters" element="tnt:SBHealthStatus">
    </part>
  </message>
  <message name="WSSB2_systemslistR">
    <part name="parameters" element="tnt:SBSystemsListResp">
    </part>
  </message>
  <message name="onMessage_Request">
    <part name="parameters" element="tnt:onMessage">
    </part>
  </message>
  <portType name="WSSB2">
    <operation name="SBregisterandsubscribe">
      <input message="tns:WSSB2_registerandsubscribe">
    </input>
      <output message="tns:WSSB2_registerandsubscribeR">
    </output>
    </operation>
    <operation name="SBunregister">
      <input message="tns:WSSB2_unregister">
    </input>
      <output message="tns:WSSB2_unregisterR">
    </output>
    </operation>
    <operation name="SBkeepalive">
      <input message="tns:WSSB2_keepalive">
    </input>
      <output message="tns:WSSB2_keepaliveR">
    </output>
    </operation>
    <operation name="SBhealthstatus">
      <input message="tns:WSSB2_healthstatus">
    </input>
      <output message="tns:WSSB2_healthstatusR">
    </output>
    </operation>
    <operation name="SBsystemslist">
      <input message="tns:WSSB2_systemslist">
    </input>
      <output message="tns:WSSB2_systemslistR">
    </output>
    </operation>
    <operation name="onMessage">
      <input message="tns:onMessage_Request">
    </input>
    </operation>
    <operation name="onMessageAndResponse">
      <input message="tns:onMessageAndResponse_Request">
    </input>
      <output message="tns:onMessageAndResponse_Response">
    </output>
    </operation>
    <operation name="e2eonMessageAndResponse">
      <input message="tns:e2eonMessageAndResponse_Request">
    </input>
      <output message="tns:e2eonMessageAndResponse_Response">
    </output>
    </operation>
    <operation name="AMsetHDBsubscriptions">
      <input message="tns:ADMIN_setHDBsubs">
    </input>
      <output message="tns:ADMIN_setHDBsubsR">
    </output>
    </operation>
  </portType>
  <binding name="WSSB2SoapHttp" type="tns:WSSB2">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="SBregisterandsubscribe">
      <soap:operation soapAction="http://sb.fin-sif.com/types/SBregisterandsubscribe"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="SBunregister">
      <soap:operation soapAction="http://sb.fin-sif.com/types/SBunregister"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="SBkeepalive">
      <soap:operation soapAction="http://sb.fin-sif.com/types/SBkeepalive"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="SBhealthstatus">
      <soap:operation soapAction="http://sb.fin-sif.com/types/SBhealthstatus"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="SBsystemslist">
      <soap:operation soapAction="http://sb.fin-sif.com/types/SBsystemslist"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="onMessage">
      <soap:operation soapAction="http://sb.fin-sif.com/types/onMessage"/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
    <operation name="onMessageAndResponse">
      <soap:operation soapAction="http://sb.fin-sif.com/types/onMessageAndResponse"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="e2eonMessageAndResponse">
      <soap:operation soapAction="http://sb.fin-sif.com/types/e2eonMessageAndResponse"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="AMsetHDBsubscriptions">
      <soap:operation soapAction="http://sb.fin-sif.com/types/AMsetHDBsubscriptions"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="WSSB2">
    <port name="WSSB2SoapHttpPort" binding="tns:WSSB2SoapHttp">
      <soap:address location="http://0.0.0.0:8092/asb/wssb2"/>
    </port>
  </service>
</definitions>
